.header{
    position: fixed;
    width: 100%;
    z-index:  99;
    color: white;
}
.sticky{
    background-color: white;
    opacity: 1 !important;
    visibility: visible !important; 
    box-shadow: 5px 10px 8px #888888;
}
.sticky-logo{
    color: black !important;
}
.sticky-form{
    opacity: 1 !important;
    visibility: visible !important; 
}
.sticky-form li{
    position: relative;
}
.sticky-form a:hover{
    color: #1dbf73;
}
.sticky-form a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #1dbf73;
    transition: all 0.5s;
}
.sticky-form a:hover::after{
    width: 100%;
}
.sticky-user{
    opacity: 1 !important;
    visibility: visible !important;
    color: black !important;
}
.sticky-text{
    color: black !important;
}
.sticky-text:hover{
    color:  #1dbf73!important;
}
.navbar-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}
.navbar-ul .nav-item {
    cursor: pointer;
}
.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    background-color: #1dbf73;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    border: none;
    position: relative;
}

.avatar::before {
    content: "";
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: -1px;
    right: -1px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.avatar::after {
    content: "";
    background-color: #1dbf73;
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}


.avatar-text {
    color: #fff;
    font-size: 49%;
    text-transform: uppercase;
    font-weight: 600;
}