.logo{
    font-size: 30px;
    font-weight: 900;
}

.menuHeader{
    background-color: white;
    padding: 0 32px;
    margin: 0 auto;
    max-width: 1400px;
}
.menuHeader ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
    padding: 0;
}
.menuHeader a {
    color: #62646a;
    display: inline-block;
    font-size: 16px;
    position: relative;
    text-decoration: none;
}
.menuHeader a:hover{
    color: red;
}
.menuHeader p {
    color: #74767e;
    font-weight: 400;
}
.hiddenMenuDsChiTiet{
    opacity: 1 !important;
    visibility: inherit !important;
}
