.slick-prev::before,
.slick-next:before {
    color: black !important;
}


.section{
    margin: 0 auto 48px;
    margin-bottom: 96px;
    padding: 32px 32px 64px;

}

.text-body{
    color: #62646a;
    font-size: 18px;
    line-height: 26px;
    
}

.video{
    cursor: pointer;
    z-index: 1;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.Explore-list{
    list-style: none;
    flex-wrap: wrap;
}
.Explore-list li {
    width: 50%;
    padding: 0 10px 32px;
    text-align: center;
}
.Explore-list li>a img{
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto 15px;
}
.Explore-list li>a {
    color: #222325;
    text-align: center;
    position: relative;
    display: inline-block
}



.iconPlay::after{
    content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png) no-repeat;
    background-size: 80px;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    cursor: pointer;
    
}
.textContentSimple{
    color: #74767e;
    display: flex;
    align-items: center;
}
.logo_simple img{
    height: 36px;
}
.text_italics{
    font-size: 24px;
    line-height: 36px;
    color: #003912;
    padding-bottom: 24px;
}
.text_italics i{
    font-weight: 500;
}

.workBanner{ 
    display: block !important;
}

.workBannerHeader{
  display: block !important;
}
.listWorkSearch{
    line-height: 35px;
    color: #74767e;
}
.max-width-container{
    padding: 24px 24px 48px;
    width: 100%;
}




@media  only screen and (min-width: 600px) {
    .textContentSimple h5{
      font-size: 20px;
    }
    .Explore-list li {
        width: 33.33%;
        padding-bottom: 55px;

    }
    .reponsive_footer{
        display: block;
    }
    .reponsive_headerCarousel{
        padding: 96px 64px;
    }
    .max-width-container{
    padding: 32px 32px 64px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    }
    .navbar-collapse ul li a{
        color: black !important;
        padding: 20px;
    }
}
@media  only screen and (min-width: 900px) {
    .reponsive_tes{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }
    .logo_simple{
        border-left: 1px solid #c5c6c9;
        height: 36px;
        margin-left: 16px;
    }
    .Explore-list li {
        width: 20%;
    }
    .reponsive_headerCarousel{
        max-width: 560px;
        padding: 0;
    }
    .max-width-container{
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 2;
    }
  
}
@media  only screen and (min-width: 1160px) {

    .logo_simple img{
        display: inline-block !important ;
        vertical-align: middle;
        margin-left: 12px;
    }
    .text_italics {
        font-size: 30px;
        line-height: 44px;  
    }
    .reponsive_headerCarousel{
        max-width: 650px;
    }
    .max-width-container{
        margin: 0 auto;
        max-width: 1400px;
    
    }
}

