/* ListWorkDetail */



.overlayWorkDetail{
    opacity: 1 !important;
    visibility: visible !important;
    z-index: 2;
}
.main{
    width: 100%;
    padding: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dadbdd

}
.main-content{
    margin: auto;
    padding: 10px;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 1 auto;
}
.main-content b {
    font-size: 15px;
    margin: auto 0;
    padding: 0 10px;
}
.main-content a {
    background-color: #fff;
    font-size: 13px;
    color: #62646a;
    display: inline-block;
    border: 1px solid #dadbdd;
    padding: 0 10px;
    margin: 15px 10px 15px 0;
    border-radius: 3px;
    transition: 0.5s;
}
.main-content a:hover{
    background-color: #efeff0;
    color: #62646a;
    border: 1px solid #95979d;
    text-decoration: none;
}
.results{
    display: flex;
    flex-flow: row nowrap;
    padding-bottom: 12px;
    padding: 32px;
}
.results-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.title{
    color: #000;
    font-size: 32px;
    line-height: 150%;
    font-weight: 700;
}
.floating-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    font-weight: 600;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 32px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}
.top-filters{
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-size: 16px;
    font-weight: 600;
    flex-wrap: wrap;
}
.togglers-wrapper{
    display: flex;
    align-items: baseline;
    list-style: none;
}
.top-filters-button{
    margin: 5px;
    color: #222325;
    font-size: 16px;
    font-weight: 550;
    border: 1px solid #dadbdd;
    border-radius: 4px;
    text-decoration: none;
    padding: 6px 12px;
}
.gird-card{
    display: grid;
    margin-top: 16px;
    min-height: 370px;
    grid-gap: 12px;
}





/* WorkDetail */


/* FAQ */
.FAQ p{
  color: #62646a;
  font-size: 17px;
  font-weight: 500;  
  line-height: 40px;
  cursor: pointer;
}
/* Reviews */
.reviews_right{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: baseline;
}

.startCouters-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.reviews-startCouters button{
    width: 20%;
    border: none;
}
.startCouters-content>span{
    width: 20%;
    color: #446ee7;
    font-size: 20px;
}
.reviews-colRight li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:  #74767e;
    font-size: 20px;
    font-weight: 500;
}
.commentFooter-Help{
    color: #404145;
    font-weight: 600;
    line-height: 25px;
    font-size: 14px;
    margin-right: 12px;
}
.commentFooter-icon{
    cursor: pointer;
}
.navbar-responsive{
    transform: translateX(0%) !important;
}
.headerContent-navReponsive{
    border-bottom: 2px solid white;
}


.headerContent-navReponsive button{
    border: none;
    font-size: 30px;
    width: 60px;
    height: 50px;
    line-height: 30px;
}
.content-singerOder{
    border-width: 2px;
    cursor: default;
    padding: 19px;
    background-color: white;
    color: #404145;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width:600px) {
    .title{
        font-size: 15px;
    }
    .top-filters{
        margin-bottom: 10px;
    }
    .gird-card{
        grid-gap: 30px;
    }
}
@media  only screen and (min-width: 600px) {
    .gird-card{
    grid-template-columns: repeat(2,1fr);
    grid-gap: 16px;
    }
}
@media  only screen and (min-width: 900px) {
    .gird-card{
    grid-template-columns: repeat(3,1fr);
    }
}
@media  only screen and (min-width: 1160px) {
    .gird-card{
    grid-template-columns: repeat(4,1fr);
    grid-gap: 32px;
    }
}

