.styleCollapse{
    position: fixed;
    background-color: rgba(36, 36, 36, 0.647);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.form{
    background-color: aliceblue;
    width: 75%;
    height: 85%;
    position: absolute;
    top: 10%;
    left: 15%;
    padding: 50px;
}
.thead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}